<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML.CSS</title>

    <link rel="stylesheet" href="../styles/null.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="page">
        <header class="header">HEADER</header>
        <nav class="nav">NAVIGATION</nav>

        <main class="main">
            <div class="content">CONTENT</div>
            <div class="sidebar">SIDEBAR</div>
        </main>
        <footer class="footer">FOOTER</footer>
    </div>

</body>

</html>